<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script>
        function tochn()
        {
            let welcome = document.getElementById("welcome");
            let li = document.getElementsByClassName("m1");
            let h2 = document.getElementById("tit");
            let des = document.getElementById("des");
            welcome.innerHTML = "欢迎来到 <span style='color:#ad1e1e'><strong>K</strong></span>orea <span style='color:#ad1e1e'><strong>N</strong></span>o.1 <span style='color:#ad1e1e'><strong>U</strong></span>niversity";
            li[0].innerHTML = "<a href=\"info/Emergency\">医疗设施</a>";
            li[1].innerHTML = "<a href=#>餐饮美食</a>";
            li[2].innerHTML = "<a href=\"info/Mbank\">生活指南</a>";
            li[3].innerHTML = "<a href=\"notices/cn\">公告事项</a>";
            h2.innerHTML = "欢迎全球学生!";
            des.innerHTML = "本网站介绍了KNU为那些谁是我们大学或其他国家的新手。<br><br>您可以获得有关医疗设施，餐馆，生活指南和官方公告的信息。<br><br>随时观看我们的网站，并有一个良好的校园生活！"
        }
        function tojp()
        {
            let welcome = document.getElementById("welcome");
            let li = document.getElementsByClassName("m1");
            let h2 = document.getElementById("tit");
            let des = document.getElementById("des");
            welcome.innerHTML = "<span style='color:#ad1e1e'><strong>K</strong></span>orea <span style='color:#ad1e1e'><strong>N</strong></span>o.1 <span style='color:#ad1e1e'><strong>U</strong></span>niversity へようこそです";
            li[0].innerHTML = "<a href=\"info/Emergency\">医療施設</a>";
            li[1].innerHTML = "<a href=#>グルメ</a>";
            li[2].innerHTML = "<a href=\"info/Mbank\">ライフガイド</a>";
            li[3].innerHTML = "<a href=\"notices\">お知らせ</a>";
            h2.innerHTML = "世界中の学生を歓迎します!";
            des.innerHTML = "このウェブサイトでは、当大学の新入生やその他の国の方のためのKNUについて紹介しています。<br><br>医療施設、レストラン、ライフガイド、公式発表に関する情報を得ることができます。<br><br>私たちのウェブサイトを自由に見て、良いキャンパスライフをお過ごしください！"
        }
        function toen()
        {
            let welcome = document.getElementById("welcome");
            let li = document.getElementsByClassName("m1");
            let h2 = document.getElementById("tit");
            let des = document.getElementById("des");
            welcome.innerHTML = "Welcome To <span style='color:#ad1e1e'><strong>K</strong></span>orea <span style='color:#ad1e1e'><strong>N</strong></span>o.1 <span style='color:#ad1e1e'><strong>U</strong></span>niversity";
            li[0].innerHTML = "<a href=\"info/Emergency\">Medical Facilities</a>";
            li[1].innerHTML = "<a href=#>Restaurants</a>";
            li[2].innerHTML = "<a href=\"info/Mbank\">Life Guides</a>";
            li[3].innerHTML = "<a href=\"notices\">Announcements</a>";
            h2.innerHTML = "Welcome Global Students!";
            des.innerHTML = "This website introduces about KNU for those who are new to our university or from other countries.<br><br>You could get information about medical facilities, restaurants, life guides, and official announcements.<br><br>Feel free to watch our website and have a good campus life!"

        }
    </script>
</head>
<body>
    <img id="logo" src="{% static 'images/KNU.png' %}" width="150" height="150">
    <div id="welcome">Welcome To <span id="red"><strong>K</strong></span>orea <span id="red"><strong>N</strong></span>o.1 <span id="red"><strong>U</strong></span>niversity</div>
    <div id="translate">
    <ul>
        <li id="line"><button onclick="toen()">ENGLISH</button></li>
        <li id="line"><button onclick="tochn()">中國語</button></li>
        <li><button onclick="tojp()">日本語</button></li>
    </ul>
    </div>
    <div id="menu">
        <ul>
            <li class="m1"><a href="info/Emergency">Medical Facilities</a></li>
            <li class="m1"><a href=#>Restaurants</a></li>
            <li class="m1"><a href="info/Mbank">Life Guides</a></li>
            <li class="m1"><a href="notices">Announcements</a></li>
        </ul>
    </div>
    <div id="description">
        <h2 id="tit">Welcome Global Students!</h2>
        <hr>
        <span id="des">This website introduces about KNU for those who are new to our university or from other countries.<br><br>
        You could get infomation about medical facilities, restaurants, life guides, and official announcements.
        <br><br>Feel free to watch our website and have a good campus life!
        </span>
    </div>
    <table>
        <tbody>
            <tr>
                <td><img src="{% static 'images/medical.png' %}" width="200" height="200"></td>
                <td><img src="{% static 'images/rest.png' %}" width="200" height="200"></td>
            </tr>
            <tr>
                <td><img src="{% static 'images/guide.png' %}" width="200" height="200"></td>
                <td><img src="{% static 'images/announcement.png' %}" width="200" height="200"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>